<div class="d-flex align-items-center justify-content-between mt-5 mb-5">
    <h1>Twitter Accounts </h1>
    <%= button_to "Connect a Twitter Account", "/auth/twitter", method: :post, data: {turbo: false}, class: "btn btn-dark" %>
</div>

<% @twitter_accounts.each do |twitter_account|%>
    <div class="card card-body bg-body-tertiary rounded shadow-lg p-3 mb-5 rounded card-header", style="max-width: 400px;">
            <div class="d-flex align-items-center justify-content-evenly mb-4">
                <div class="me-4">
                    <%= image_tag twitter_account.image, class: "rounded-circle" %>
                    <%= link_to "@#{twitter_account.username}", "https://twitter.com/#{twitter_account.username}", target: :_blank %>
                </div>

                <%= button_to "Disconnet", twitter_account, method: :delete, form: { data: { turbo_confirm: "If you disconnect all the unpublished tweets will be deleted and cannot be post. Are you sure you want disconnect?" } }, class: "btn btn-danger" %>
            </div>
    </div>
<%end%>